.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f9f9f9;
  overflow: hidden;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #DD6A00;
  width: 100%;
  background-color: #fff;
}

.chat-profile-pic {
  background-color: lightgray;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.chat-profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat-profile-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

.chat-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  height: calc(100vh - 160px);
  padding: 20px;
  overflow-y: auto;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.chat-message {
  max-width: 70%;
  padding: 10px;
  border-radius: 12px;
  font-size: 0.95rem;
  word-wrap: break-word;
}

.chat-message-mine {
  background-color: #DD6A00;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.chat-message-other {
  background-color: #FFB7B7;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.chat-message .message-text {
  display: block;
  margin: 0;
}

.chat-message-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.chat-message-input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  margin-right: 10px;
  color: #333;
}

.chat-message-input::placeholder {
  color: #aaa;
}

.chat-message-send {
  width: 45px;
  height: 45px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.chat-message-send:hover {
  transform: scale(1.1);
}

.chat-message-send img {
  width: 40px;
  height: auto;
}
