.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  padding-bottom: 72px;
}

.chat-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #DD6A00;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chat-profile-pic {
  background-color: lightgray;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.chat-profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.chat-profile-name {
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
}

.chat-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  padding-top: 2rem;
}

.chat-message {
  max-width: 70%;
  width: max-content;
  padding: 10px;
}

.chat-message-mine {
  background-color: #CB8080;
  align-self: flex-end;
  border-radius: 10px;
  border-bottom-right-radius: 0;
}

.chat-message-other {
  background-color: #EEB580;
  align-self: flex-start;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

.chat-message-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  box-sizing: border-box;
}

.chat-message-input {
  flex-grow: 1;
  padding: 10px;
  background-color: #960000;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 14px;
  color: #ffffff;
}

.chat-message-input::placeholder {
  color: #ffffff;
}

.chat-message-send {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
}

.chat-message-send:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.chat-message-send img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}