.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.homepage-newPostButton {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #DD6A00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-bottom: 5px;
}

.homepage-newPostButton:active {
  transform: scale(0.9);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.homepage-newPostButtonIcon {
  width: 32px;
  height: 32px;
}

