.modal {
    border: none;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: #f5cac3; /* Ajuste a cor de fundo */
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-close-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

@media (max-width: 600px) {
    .modal {
        width: 90%;
        padding: 10px;
    }

    .modal-close-btn {
        top: 5px;
        right: 5px;
        font-size: 16px;
    }
}